body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 40vw;
  height: 80vh;
  display: flex;
}

.calculator {
  background-color: gainsboro;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
  padding: 16px;
}

.screen {
  background-color: ghostwhite;
  flex: 1;
}

.buttons {
  background-color: gray;
  flex: 1;
}