body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 40vw;
  height: 80vh;
  display: flex;
}

.calculator {
  background-color: gainsboro;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 16px;
  padding: 16px;
}

.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  font-size: 24px;
  padding: 8px;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
}
.screen-display {
  flex: 4;
  background-color: aquamarine;
}

.button-container {
  background-color: gray;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 2px;
}

.button-row {
  flex:1;
  display: flex;
  gap: 2px;
}

.button {
  flex: 1;
}